body {
  background-image: url("image3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 

  
  /* background-color: #cccccc; */
 };

 
form.signup,
form.login {
  margin-top: 50px;
};

.container{
  padding: 1em
}
